@import "../../../../../../../styles/partials/colors";
@import "../../../../../../../styles/partials/layout";
@import "../../../../../../../styles/partials/spacing";


.icon{
    width: 24px;
    color: $primary-normal;
}

.navContent{
    .content{
        padding-top: $gap-2;
        margin-top: $gap-1;
        margin-right: $gap-2;
        @include responsive(s){
            margin-right: 0;
        }
        .header{
            display: flex;
            align-items: center;
            h5{
                margin-left: $gap-2;
            }
        }
    }
}




