@import "../../styles/partials/colors";
@import "../../styles/partials/layout";
@import "../../styles/partials/spacing";
.camposDinamicos{
    label{
        &:not(:last-child){
            margin-bottom: $gap-2;
        }
    }
    
}
.divCronograma{
    border: 1px dashed $primary-dark;
    border-radius: $gap-1;
    padding: $gap-2;
    margin-top: $gap-1;
}
.infoLabel{
    
        color: $black-light;
        margin-bottom: $gap-1;
    
}
.info{
    width: 100%;
    height: 48px;
    background-color: $white-darken;
    display: flex;
    align-items: center;
    padding-left: $gap-2;
    margin-bottom: $gap-2;
    p{
        color: $black-light;;
    }
}
.formulario{
    margin-top: $gap-3;
    
    .input{
        
        @include responsive(s){
            max-width: none;
        }
        flex: 1;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .btnSubmit{
        
        display: flex;
        
    }
    
}

.conteudo{
    .input{
        &:not(:last-child){
            margin-bottom: $gap-2;
        }
        @include responsive(xs){
            &:last-child{
                padding-bottom: $gap-2;
            }
            
        }
    }
}
.menu{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $gap-2;
    .itemMenu{
        cursor: pointer;
        transition: ease .3s;
        flex: 1;
        text-align: center;
        padding: $gap-2 $gap-2;
        background-color: $white-darken;
        &:first-child{
            border-top-left-radius: $gap-1;
            border-bottom-left-radius: $gap-1;
        }
        &:last-child{
            border-top-right-radius: $gap-1;
            border-bottom-right-radius: $gap-1;
        }
        p{
            color: $primary-darken;
        }
    }
    
    .itemMenuSelected{
        p{
            color: $white-dark;
        }
        background-color: $primary-dark;
    }
}
.options{
    .btn{
        width: 80px;
        margin-left: $gap-1;
        p{
            display: none;
            
        }
    }
    .optionInput{
        display: flex;
                
        input{
            padding: $gap-2;

            border: 1px solid $primary-normal;
            position: relative;
        height: $gap-5;
        width: 100%;
        border-radius: 4px;
        background-color: $white-light;
        color: $black-light;
        &:hover{
            border-color: $primary-normal;
        }
        &:focus{
            outline:1px solid $primary-normal;
            border: 1px solid $primary-normal;
            background-color: $white-normal;
        }
        &::placeholder{
            color: $gray-300;
        }
        
        }
        
    }
    .optionList li{
        
        display: flex;
        margin-bottom: $gap-1;
        .label{
            width: 100%;
            display: flex;
            align-items: center;
            padding: $gap-1;
            background-color: $white-darken;
        }
    }
}
.error{
    p{
        color:$white-light
    }
}
.lista{
    margin-top: $gap-1;
    @include responsive(xs){
        h6{
            font-size: 12px;
        }
    }
    .listaItem{
        display: flex;
        align-items: stretch;
        margin-bottom: $gap-1;
        .content{
            background-color: $white-darken;
            border-radius: 6px;
            flex: 1;
            padding: $gap-1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .withIcon{
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .icon{
            cursor: pointer;
            background-color: $primary-dark;
            display: flex;
            align-items: center;
            color: $white-darken;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding: $gap-1;
            svg{
                transition: ease .3s;
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
   
}
.anexos{
    .addItem{
        padding: $gap-2;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin-left: $gap-1;
        }
        
        border-radius: $gap-1;
        cursor: pointer;
        border: 1px dashed  $primary-normal;
        background-color: $white-light;
        &:hover{
            background-color: $white-normal;
        }
        
        .icon {
            width: 30px;
            height: 30px;
            color: $primary-normal;
            svg{
                width: 100%;
                height: 100%;
            }
            }
    }
}

.fileInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
      p{
          margin-bottom: 0;
      }
    .label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      cursor: pointer;
      .labelP{
          margin-right: $gap-2;
      }
      .customButton {
        padding: $gap-1 $gap-3;
        //background-color: $primary-normal;
        color: $white-normal;
        border: 1px solid $gray-50;
        border-radius: 4px;
        cursor: pointer;
        transition: ease 0.3s ;
        
        
        p{
          color: $primary-darken;
          font-weight: 400;
        }
  
        &:hover {
          background-color: $primary-dark;
          border-color: $primary-dark;
          transform: scaleX(1.03);
          p{
              color: $white-light; 
          }
        }
  
        &:active {
          background-color: $primary-darken;
          border-color: $primary-darken;
        }
        &[disabled] {
          background-color: $gray-300; // Cor de desabilitado
          border-color: $gray-300;
          cursor: not-allowed; // Cursor de desabilitado
          color: $gray-600; // Texto desabilitado
          transform: none; // Remove efeito de hover
        }
      }
    }
  
    .fileInput {
      display: none; // Esconde o input file padrão
    
    }
    
    .fileName {
      margin-top: $gap-1;
      color: $gray-500;
      font-size: 0.875rem; // Tamanho de texto menor
    }
  
    .errorMsg {
      color: $error-light;
      margin-top: $gap-1;
      font-size: 0.875rem;
    }
  }


  .content{
      margin-top: $gap-3;
      margin-bottom: $gap-7;
      max-width: 990px;
                 
      @include responsive(s){
          flex-direction: column;
      }
      .status{
        display: inline-block;
        padding: 0px $gap-2;
        border-radius: 30px;
        font-size: 10px;
    }
    .statusSuccess{
        background-color: $success-light;
    }
    .statusWarning{
        background-color: $warning-normal;
    }
    .statusDefault{
        background-color: $gray-50;
    }
    .mainContent{
        margin-top: $gap-2;
        .box, .orientadores,.atividades{
            
            border: 1px solid $gray-50;
            box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
            border-radius: $gap-1;
            &:not(:last-child){
                margin-bottom: $gap-1;
            }
        }
        .atividades{
            margin-top: $gap-3;
            position: relative;
            
            .titulo{
                display: flex;
                align-items: center;
                margin-bottom: $gap-1;
                h6{
                    color: $primary-darken;
                    text-transform: uppercase;
                    
                }
                svg{
                    color: $primary-darken;
                    margin-left: 3px;
                    width: 20px;
    
                }
            }
            
            .label{
                
                background-color: $gray-50;
                border-radius: $gap-1;
                display: inline-block;
                padding: $gap-1 $gap-3;
                position: absolute;
                top: 0;
                margin-top: -15px;
                p{
                    color: $primary-darken;
                }
            }
            .atividade{
                cursor: pointer;
                margin-top: $gap-2;
                border-bottom: 1px solid $gray-100;
                padding-bottom: $gap-2;
            }
        }
        .registros{
            
            .icons{
                display: flex;
                flex-wrap: wrap;
                svg{
                    color: $gray-50;
                }
                .statusConcluido{
                    svg{
                        color: $success-dark;
                    }
                }
            }
        }
        .edital{
            
            p:not(:last-child){
                    margin-bottom: 8px;
                }
        }
        .orientadores{
            p:not(:last-child){
                margin-bottom: 4px;
            }
        }
        
    }
    .icon{
        width: 24px;
        color: $primary-normal;
        
    }
    .iconClick{
        cursor: pointer;
        transition: ease .3s;
        &:hover{
            transform: scale(1.2);
        }
    }
    
    .nav{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $gray-50;
        border-radius: 9px;
        color: $primary-darken;
        margin-right: $gap-2;
        @include responsive(s){
            margin-right: 0;
        }
    }
    .header{
        display: flex;
        align-items: center;
        margin-bottom: $gap-2;
        padding: $gap-2 $gap-2 0 $gap-2;
        h6{
            margin-left: $gap-2;
            flex:1;
        }
    }
    .list{
        border-bottom-left-radius: $gap-1;
        border-bottom-right-radius: $gap-1;
        .content1{
            flex: 1;
        }
        .content2{
            display: flex;
            align-items: center;
            svg{
                width: 24px;
                margin-left: $gap-1;
            }
            
        }
        .itemList{
            margin-top: 0px;
            border-bottom: 1px solid $white-darken;
            padding: $gap-2;
            background-color: $white-normal;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: ease .3s;
            &:hover{
                background-color: $white-darken;
                color: $primary-darken;
            }
            &:last-child{
                border-bottom-left-radius: $gap-1;
                border-bottom-right-radius: $gap-1;
                border: none;
            }
        }
        
    }
    .navContent{
        .content{
            padding-top: $gap-2;
            margin-top: $gap-1;
            margin-right: $gap-2;
            @include responsive(s){
                margin-right: 0;
            }
            
        }
    
    }
    
    
    
  
  }
  .listaItem .content{
    margin-top: 0;
      margin-bottom: 0;
  }
  .fichas{
    border-top: 1px solid $white-darken;
    .content1{
        flex: 1;
    }
    .content2{
        display: flex;
        align-items: center;
        svg{
            width: 24px;
            margin-left: $gap-1;
        }
        
    }
    .headerFicha{
        margin-top: 0px;
        border-bottom: 1px solid $white-darken;
        padding: $gap-2;
        background-color: $white-normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: ease .3s;
        &:hover{
            background-color: $white-darken;
            color: $primary-darken;
        }
        &:last-child{
            border-bottom-left-radius: $gap-1;
            border-bottom-right-radius: $gap-1;
            border: none;
        }
    }
    .quesitos{
        padding: $gap-2;
        .quesito{
            border-bottom: 1px solid $white-darken;
            .label{
                
                padding: 4px $gap-1;
            }
            .nota{
                text-align: right;
                padding: 4px $gap-1;
                margin-bottom: $gap-1;
            }
        }
    }
    
  }
  
  