@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";

.mainContent{
    margin-top: $gap-2;
    h6{
        margin-bottom: $gap-1;
    }
}

.icon{
    width: 24px;
    color: $primary-normal;
}

.menu{
    h5{
        margin-bottom: $gap-3;
    }
    button:not(:last-child){
        margin-bottom: $gap-2;
    }
}

.notification{
    h6{
        margin-top: $gap-2;
        padding: $gap-1 $gap-2;
        border-radius: $gap-1;
        display: block;
    }
    h6.success{
        background-color: $success-light;
    }
    h6.error{
        color: $white-light;
        background-color: $error-light;
    }
}

.actionsTable{
    display: flex;
    margin-top: $gap-2;
    margin-bottom: $gap-3;
    button{
        flex: 1;
        border-radius: $gap-1;
        &:not(:last-child) {
           margin-right: $gap-2;
        };
        color: $white-light
    }
}
.respostasSection{
    h5{
        font-size: 14px;
    }
}
.navContent{
    width: 500px;
    @include responsive(s){
        width: 100%;
    }

    .content{
        max-width: 990px;
        @include responsive(s){
            flex-direction: column;
            padding: $gap-1;
        }
        padding: $gap-2;
        .header{
            h5{
                font-weight: 300;
                span{
                    padding: 4px $gap-2;
                    border-radius: $gap-1;
                    background-color: $primary-darken;
                    color: $white-light
                }
            };
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    }
    
}

.boxButton{
    &:not(:last-child){
        margin-bottom: $gap-2;
    }
    border-radius: $gap-1;
    border: 1px solid $gray-50;
    padding: $gap-3;
    //cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    }
    .labelWithIcon{
        display: flex;
        align-items: center;
        
        .label,.description{
            display: flex;
            flex-direction: column;
        }
        .label{
            flex: 1;
            margin: 0 $gap-2;
            .status{
                p{
                    font-size: 12px;
                    display: inline;
                    white-space: nowrap;
                    text-align: center;
                    padding: 4px $gap-2;
                    border-radius: 20px;
                    margin-right: $gap-2;
                    text-transform: lowercase;
                    @include responsive(xs){
                        margin-bottom: $gap-1;
                    }
                }
                @include responsive(xs){
                    margin-left: 0;
                }
            }
            .success{
                p{
                    background-color: $success-lighten;
                }
            }
            .error{
                p{
                    color: $error-dark;
                    background-color: $error-lighten;
                }
            }
            .warning{
                p{
                    color: $warning-darken;
                    background-color: $warning-lighten;
                    border: 1px solid $warning-dark;
                }
            }
            p{
                display: flex;
                align-items: center;
                svg{
                    display: none;
                    @include responsive (xs){
                        display: block;
                        margin-right: $gap-1;
                    }
                }
            }
            @include responsive (xs){
                margin-left: 0;
            }
            .description{
                margin-top: $gap-1;
                p{
                    font-weight: 600;
                    
                }
                p.destaque{
                    color: $primary-darken;
                }
                p.person{
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
        svg{
            color: $primary-darken;
            width: 20px;
            height: 20px;
            @include responsive (xs){
                display: none;
            }
        }
    }
    .accordionContent {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        margin-top: $gap-2;
        &.expanded {
            max-height: 1000px; // Adjust this value based on your content
            transition: max-height 0.5s ease-in;
        }
    }
    
    
}

  
  .accordionContent.expanded .openModalButton {
    display: block;
  }
  
.toogle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gap-1;
    border-radius: 50%;
    background-color: $white-darken;
    svg{
        transition: transform 0.3s ease;
        width: 22px;
        &.rotated {
            transform: rotate(180deg);
        }
    }
}

.campos {
    margin-top: $gap-2;
}

.iconAlert {
    color: $error-light !important;
}

.registroHeader {
    cursor: pointer;
    justify-content: space-between;
    
    
}