@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";
@import "/styles/partials/eventoEditorial";

.content {
  min-width: 0;
}

.paragraph {
  margin-bottom: $gap-2;
  line-height: 1.6;
  color: $gray-600;

  &:last-child {
    margin-bottom: 0;
  }
}
