// Importações de partials
@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";

/* ======================
   LAYOUT PRINCIPAL
   ====================== */
.main {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 450px;
  margin-bottom: $gap-2;
  position: relative;
  z-index: 2;
  @include responsive(xs) {
    margin-top: 220px;
    flex-direction: column;
    
  }
  max-width: 980px;
  article {
    display: flex;
    @include responsive(xs) {
      flex-direction:column-reverse;
    }
  }
  aside {
    margin-right: $gap-2;
    margin-left: $gap-2;
    min-width: 280px;
    margin-bottom: $gap-2;
    @include responsive(xs) {
      margin: $gap-1;
      min-width: 100px;
      
    }
  }
}

/* ======================
   COMPONENTE BANNER
   ====================== */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  
  .bgImage {
    object-fit: cover;
  }
  
  .bannerOverlay {
    position: absolute;
    top: $gap-2;
    left: 0;
    width: 100%;
    height: 450px;
    
    @include responsive(xs) {
      height: 200px;
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $gap-2;
    
    .overlayImage {
      max-width: 900px;
      object-fit: contain;
      margin-bottom: $gap-2;
    }
  }
  
 
}
.login {
  max-width: 980px;
  position: fixed;
  top:0;
  right: 0;
  
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: $gap-2;
  margin-right: $gap-2;
  p {
    display: inline;
    background-color: rgba(255,255,255, 0.00001);
    border: 1px solid $white-darken;
    color: $white-darken;
    padding: $gap-1 $gap-2;
    box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.08);
    border-radius: $gap-1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

/* ======================
   SEÇÕES DE CONTEÚDO
   ====================== */
.content {
  &.descriptionSection {
    display: flex;
    flex-direction: column;
    gap: $gap-2;
    @include responsive(xs){
      gap: $gap-1;
    }
    .sectionContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 0 $gap-2;
      @include responsive (xs){
        margin: 0 $gap-1;
      }
    }
    
    .descriptionContent {
      //max-width: 850px;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.14);
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background-color: color-mix(in srgb, $white-dark 25%, transparent);
      padding: $gap-3;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      
      p {
        color: $primary-darken;
      }
      
      .paragraph {
        margin-bottom: $gap-2;
        line-height: 1.6;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.sectionTitle {
  color: $primary-darken;
  margin-bottom: $gap-2;
}

/* ======================
   EDIÇÕES ANTERIORES
   ====================== */
.edicoesContent{
  background-color: color-mix(in srgb, $white-dark 25%, transparent);
  border: 1px solid rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  .sectionTitle{
    padding: $gap-2;
    margin: 0;
    color: $white-normal;
  }
  .edicao{
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    transition: ease .3s;
    
    &:hover{
      background-color: color-mix(in srgb, $white-dark 25%, transparent);
      
    }
    
    h6{
      color: $primary-darken;
      padding: $gap-2;
      transition: ease .3s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        font-size: 10px;
        padding: 2px 8px;
        border-radius: 8px;
        background-color: color-mix(in srgb, $white-dark 25%, transparent);
        color: $white-dark;
      }
      &:hover{
        color: $primary-darken;
      }
    }
  }

}
.actions{
  margin-bottom: $gap-2;
  display: flex;
  gap: $gap-2;
  @include responsive(xs){
    gap: $gap-1;
    margin-bottom: $gap-1;
  }
  flex-direction: column;
  .action{
    //background-color: color-mix(in srgb, $warning-dark 40%, transparent);
    padding: $gap-2 $gap-1;
    border-radius: $gap-1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid color-mix(in srgb, $white-dark 40%, transparent);;
    color:  $white-dark;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: ease .3s;
    &:hover{
      transform: scale(1.03);
    }
    svg{
      width: 30px;
      margin-right: $gap-1;
    }
    h6{
      color:$white-dark ;
      text-align: center;
      @include responsive(xs){
        font-size: 14px;
      }
    }
  }
  .primary{
    background-color: color-mix(in srgb, $warning-dark 80%, transparent);
    color:  $white-dark;
    h6{
      color: $white-dark;
    }
  }
}

