@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/layout";
@import "../../../../styles/partials/spacing";


.buscador{
    display: flex;
    .input{
        max-width: 470px;
        @include responsive(s){
            max-width: none;
        }
        flex: 1;
    }
    .btnBuscador{
        display: flex;
        align-items: flex-end;
        margin-left: $gap-1;
        @include responsive (s){
            p{
                display: none;
            }
        }
    }
    
}

.content{
    margin-top: $gap-3;
    display: flex;
    flex-wrap: wrap;
    @include responsive(s){
        flex-direction: column;
    }
    .card{
        margin-right: $gap-3;
        margin-bottom: $gap-3;
        @include responsive(s){
            margin-right: 0;
        }
    }
    .btnNewItem{
        margin-right: $gap-3;
        width: 338.29px;
        height: 227px;
        padding: $gap-1;
        @include responsive(s){
            max-width: none;
            margin-right: 0;
            margin-bottom: $gap-3;
            width: auto;
            height: auto;
        }
        
        border-radius: $gap-1;
        cursor: pointer;
        border: 1px dashed  $primary-normal;
        background-color: $white-dark;
        &:hover{
            background-color: $white-darken;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
            
            svg{
                width: 50px;
                height: 50px;
                color: $primary-normal;
            }
        }
    } 
}

.icon{
    width: 24px;
    color: $primary-normal;
}
