@import "../../../../../styles/partials/colors";
@import "../../../../../styles/partials/layout";
@import "../../../../../styles/partials/spacing";



.content{
    margin-top: $gap-3;
    margin-bottom: $gap-7;
    @include responsive(s){
        flex-direction: column;
    }
    
}
.icon{
    width: 24px;
    color: $primary-normal;
}
.campos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.addItem{
    min-width: 300px;
    @include responsive(xs){
        width: 100%;
        margin-right: 0;
        min-width: 200px;
    }
    padding: $gap-1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $gap-2;
    margin-right: $gap-2;
    p{
        margin-left: $gap-1;
    }
    
    border-radius: $gap-1;
    cursor: pointer;
    border: 1px dashed  $primary-normal;
    background-color: $white-light;
    &:hover{
        background-color: $white-normal;
    }
    
    .icon {
        width: 50px;
        height: 50px;
        color: $primary-normal;
        svg{
            width: 100%;
            height: 100%;
        }
        }
} 
.campo{
    background-color: #fff;
    border: 1px solid $white-darken;
    box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    min-width: 300px;
    @include responsive(xs){
        width: 100%;
        margin-right: 0;
        min-width: 200px;
    }
    margin-top: $gap-2;
    margin-right: $gap-2;
    border-radius: $gap-1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    padding: $gap-2;
    @include responsive(xs){
        display: block;
    }
    .required{
        display: inline-block;
        background-color: $primary-dark;
        border-radius: 4px;
        padding: 4px $gap-2;
        margin-top: $gap-1;
        p{
            font-size: 12px;
            color: $white-light;
            font-weight: 300;
        }
    }
}
.actions{
    display: flex;
    align-items: center;
    margin-left: $gap-2;
    @include responsive(xs){
        margin-left: 0;
        margin-top: $gap-2;
    }
    p{
        display: none;
    }
    .btn1{
        max-width: 250px;
        @include responsive(xs){
            flex: 1;
            max-width: none;
        }
    }
    .btn2{
        max-width: 250px;
        margin-left: $gap-1;
        
    }
    .upDown{
        width: 32px;
        svg{
            padding: 4px;
        }
        margin-left: $gap-2;
        
        cursor: pointer;
        
        .up, .down{
            height: 24px;
            background-color: $gray-50;
            color: $primary-dark;
            &:hover{
                background-color: $gray-200;
            }
        }
        .up{
            border-top-left-radius: $gap-1;
            border-top-right-radius: $gap-1;
            border-bottom: 1px solid $white-normal;
        }
        .down{
            border-bottom-left-radius: $gap-1;
            border-bottom-right-radius: $gap-1;
        }
    }
    
}