@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";

.dashboard{
    width: 100vw;
    min-height: 100vh;
    background-color:$white-light;

    .content{
        margin-top: 70px;
        padding: $gap-5 20px 0 $gap-4;
        position: relative;
    }
}
@include responsive(s){
    .dashboard{
        .content{
            padding: $gap-3 $gap-2;
        }
    }
}


