@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";
.main {display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 colunas */
    grid-gap: $gap-2; /* Espaçamento entre os elementos da grid */
    grid-auto-rows: minmax(100px, auto); /* Define a altura automática das linhas */

    @include responsive(s) {
      display: block; /* Para telas menores, exibe os elementos em blocos */
    }}

.dashboard {
 
margin-right: 0; /* Remova o margin-right já que o grid-gap gerencia o espaçamento */
border: 1px solid $gray-50;
box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
border-radius: $gap-1;
  overflow: hidden;
  width: 100%;
  margin-bottom: $gap-2;

  .head {
    background-color: $white-light;
    border-top-left-radius: $gap-1;
    border-top-right-radius: $gap-1;
    display: flex;
    justify-content: space-between;
    .left{
        display: flex;
        align-items: center;
        
        .icon {
            
            padding: $gap-2;
            background-color: $white-light;
            color: $primary-darken;
            border-top-left-radius: $gap-1;
            @include responsive(xs){
                display: none;
            }
          }
    
          .title {
            
            
            @include responsive(xs){
                padding: $gap-2 0;
                margin-left: $gap-2;
            }
            //margin-left: $gap-2;
            h5 {
                color: $primary-darken;
                font-weight: 300;
                white-space: nowrap; 
                overflow: hidden;           
                text-overflow: ellipsis; 
                width: 100%;
                @include responsive(xs){
                    font-size: 14px;
                }
            }
            
          }
    }
    

  }



  .content {
    overflow-x: scroll;
    h5{
        padding: $gap-2;
        font-size: 20px;
        @include responsive(xs){
            font-size: 16px;
        }
    }
    
  }
}
.editais{
    display: flex;
    flex-direction: column;
    gap: $gap-2;
    margin-bottom: $gap-2;
    width: 300px;
    
    
}
.card{
    border: 1px solid $gray-50;
    border-radius: $gap-1;
    min-width: 280px;
   &:first-child{
    margin-left: $gap-2;
   }
   &:last-child{
    margin-right: $gap-2;
   }
    .header{
        padding: $gap-2;
        border-top-right-radius: $gap-1;
        border-top-left-radius: $gap-1;
        background-color: $white-darken;
        font-weight: 500;
        color: $primary-darken;
    }
    .content{
        padding: $gap-2;
    }
    hr{
        border: none;         
        height: 1px;          
        background-color: $gray-50; 
        width: 100%;            
    }
    ul{
        li{
            display: flex;
            align-items: center;
            gap: $gap-1;
            &:not(:last-child){
                margin-bottom: $gap-2;
            }
            div{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
            h6,p{
                display: flex;
                gap: $gap-2;
                justify-content: space-between;
            }
            svg{
                
                width: 26px;
                height: 26px;
                padding: 2px;
                color: $primary-darken;
                display: flex;
                align-items: center;
            }
        }
    }
}