
.button{
    width: 100%;
    height: $gap-5;
    padding: 0 $gap-2;
    @include responsive(s){
        padding: 0 $gap-1;
        
    }
    cursor: pointer;
    border: 1px solid $primary-normal;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    p,svg{
        margin: 0 $gap-1;
    }
    .btn-icon{
        width: 20px;
        
        color: $primary-normal;
    }
    
    .btn-icon-green{
        
        color: $success-normal;
    }
    .btn-icon-red{
        color: $error-normal;
    }
}

.btn-primary{
    background-color: $primary-dark;
    transition: all .3s ease;
    p,.btn-icon{
        color: $white-light;
    }
    
    &:hover{
        opacity: 0.8;
    }
    
}

.btn-secondary{
    background-color: $white-light;
    transition: all .3s ease;
    p{
        color: $black-normal;
    }
    &:hover{
        opacity: 0.8;
        background-color: $white-darken;

    }
}

.btn-error{
    background-color: $white-light;
    border: 1px solid $error-lighten;
    transition: all .3s ease;
    p, .btn-icon{
        color: $error-normal;
    }
    &:hover{
        opacity: 0.8;
        background-color: $error-lighten;
    }
}
.btn-blue{
    background-color: $primary-lighten;
    border: 1px solid $primary-lighten;
    transition: all .3s ease;
    p, .btn-icon{
        color: $primary-normal;
    }
    &:hover{
        opacity: 0.8;
    }
}
.btn-green{
    background-color: $white-light;
    border: 1px solid $success-dark;
    transition: all .3s ease;
    p{
        color: $primary-darken;
    }
    .btn-icon{
        color: $success-dark;
    }
    &:hover{
        opacity: 0.8;
    }
}

button[type="submit"]:disabled{
    background-color: $gray-100;
    border: 1px solid $gray-100;
    p{
        color: $gray-600;
    }
}