
a.linkFile{
        cursor: pointer;
        border: 1px solid $primary-normal;
        display: flex;
        p{
            color: $gray-300;
        }
        
        display: inline-block;
        padding: $gap-1 $gap-3;
        border-radius: 4px;
        &:hover{
            background-color: $white-darken;
            p{
                color: $gray-600;
            }
        }
    
}

.button{
    width: 100%;
    height: $gap-5;
    padding: 0 $gap-2;
    @include responsive(s){
        padding: 0 $gap-1;
        
    }
    cursor: pointer;
    border: 1px solid $primary-normal;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    p,svg{
        margin: 0 $gap-1;
    }
    .btn-icon{
        width: 20px;
        
        color: $primary-normal;
    }
    
    .btn-icon-green{
        
        color: $success-normal;
    }
    .btn-icon-red{
        color: $error-normal;
    }
}

.btn-primary, .p-button-success{
    background-color: $primary-dark;
    transition: all .3s ease;
    border: none;
    p,.btn-icon{
        color: $white-light;
    }
    
    &:hover{
        opacity: 0.8;
    }
    
}

.btn-secondary{
    background-color: $white-light;
    transition: all .3s ease;
    p{
        color: $black-normal;
    }
    &:hover{
        opacity: 0.8;
        background-color: $white-darken;

    }
}

.btn-error{
    background-color: $white-light;
    border: 1px solid $error-lighten;
    transition: all .3s ease;
    p, .btn-icon{
        color: $error-normal;
    }
    &:hover{
        opacity: 0.8;
        background-color: $error-lighten;
    }
}
.btn-blue{
    background-color: $primary-lighten;
    border: 1px solid $primary-lighten;
    transition: all .3s ease;
    p, .btn-icon{
        color: $primary-normal;
    }
    &:hover{
        opacity: 0.8;
    }
}
.btn-green{
    background-color: $success-normal;
    border: 1px solid $success-dark;
    transition: all .3s ease;
    p{
        color: $white-light;
    }
    .btn-icon{
        color: $white-light;
    }
    &:hover{
        opacity: 0.8;
    }
}
.btn-warning{
    background-color: $warning-dark;
    border: none;
    color: $warning-lighten;
    flex: 1;
    margin-right: 0;
    @include responsive(xs){
        margin-top: 4px;
    }
    transition: ease .3s;
    &:hover{
        transform: scale(1.005);
    }
    .btn-icon{
        color: $warning-lighten
    }
    color: $warning-lighten;
    p{
        color: $warning-lighten;
    }
}
.btn-warning-secondary{
    background-color: $warning-lighten;
    border: 1px solid transparent;
    color: $warning-lighten;
    flex: 1;
    margin-right: 0;
    @include responsive(xs){
        margin-top: 4px;
    }
    transition: ease .3s;
    &:hover{
        transform: scale(1.005);
        border: 1px solid $warning-dark;

    }
    .btn-icon{
        color: $warning-darken
        
    }
    color: $warning-lighten;
    p{
        color: $warning-darken;
    }
}
.btn-link{
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .3s ease;
    p{
        color: $gray-400;
        text-decoration: underline;
    }
    .btn-icon{
        color: $success-dark;
    }
    &:hover{
        p{
            color: $gray-600;
        };
    }
}
button[type="submit"]:disabled, button:disabled{
    background-color: $white-light;
    border: 1px solid $gray-100;
    cursor:default;
    color: $gray-600;
    svg{
        color:$primary-dark;
    }
    
    p{
        color: $gray-600;
    }
    &:hover{
        background-color: $white-light;
        opacity: 1;
    }
}