.dashboard{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    .dashboard-item-1{
        background-color: $white-light;
        .side-nav{
            width: 210px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            @include responsive(s){
                width: 80px;
            }
            @include responsive(xs){
                display: none;
            }
            .side-nav-item-1{
                height: 70px;
                width: 100%;
                background: linear-gradient(to right, #1B69D2, #0E366C) ;
                @include responsive(s){
                    height: 50px;
                }  
            }
            .side-nav-item-2{
                flex: 1;
                display: flex;
                align-items: center;
            }  
            .side-nav-item-3{
                border-top: 1px solid $gray-50;
                display: flex;
                padding: $gap-2;
                background-color: $white-light;
                cursor: pointer;
                    &:hover{
                        background-color: rgba($color: $gray-100, $alpha: 0.15);
                    }
                .item-1{
                    width: 50px;
                    display: flex;
                    align-items: center;
                    margin-right: $gap-2;
                    color: $primary-dark;
                    @include responsive(s){
                        margin-right: 0;
                    }
                }
                
                .item-2{
                    @include responsive(s){
                        display: none;
                    }
                    h6{
                        color: $black-light;
                    }
                    p{
                        font-size: 14px;
                        color: $gray-300;
                    }
                }
            }
        }
    }
    .dashboard-item-2{
        flex: 1;
        

        .nav-bar{
            height: 70px;
            display: flex;
            background-color: $white-light;
            @include responsive(s){
                height: 50px;
            }
            .nav-bar-item-1{
                width: 100px;
                flex: 1;
            }
            .nav-bar-item-2{
                display: flex;
                width: 300px;
                flex: 1;
            }
        }
        .content{
            padding: $gap-3 $gap-2 0 $gap-2;
        }
    }
}

