.p-dialog-header,.p-dialog-footer{
    padding: 16px;
}
.p-dialog-content{
    padding: 0 16px 16px 16px;
} 
.p-dialog-footer{
    display: flex;
    justify-content: end;
    gap: $gap-2;
    div{
        button{
            &:not(:last-child){
                margin-right: 12px;
            }
            
        }
    }
}
