.p-dropdown-panel .p-component .p-ripple-disabled .p-connected-overlay-enter-done{
    z-index: 99999;
}
.p-dataview-emptymessage{
padding: 0 $gap-2 $gap-2 $gap-2;
}
.p-column-title{
    width: 100%;
}
.p-datatable {
    .p-tabmenu{
        padding:0 $gap-2;
        
        ul{
            a{
                padding: $gap-1 $gap-2 $gap-1 $gap-2 ;
                
            }
            svg{
                height: 16px;
            }
            .p-menuitem-icon {
                margin-right: $gap-1;
            }
        }
    }
    max-width: calc(100vw - 262px); // Limita a largura máxima do Card
    @include responsive(s){
        max-width: calc(100vw - 32px);
    }
    padding: 0; // Espaçamento interno
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: auto; // Permite scroll apenas dentro do card
    svg{
        min-width: 30px;
    }
    .header-table{
        padding: 0 $gap-2;
    }
    .p-datatable-header{
        padding: $gap-2;
    }
    td,th{
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
    }
   
 .p-paginator-bottom{
    padding: $gap-2;
    background-color: transparent;
    span{
        display: flex
    }
 }
    .p-dropdown-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link{
        display: flex;
        align-items: center;
        gap: $gap-1;
        cursor: pointer;
        &:hover{
            
            .icon{
                color: $primary-darken;
            }
            span{
                text-decoration: underline;
                color: $primary-darken;
            }
        }
        
        
    }
  }
 
  .p-datatable-wrapper{
    margin: 0 0;
  }
.table-responsive {
overflow-x: auto; // Mantém o scroll apenas dentro dessa di
}
.p-datatable-header{
    background-color:transparent;
    padding: $gap-2 0;
    border: none;
}

.p-inputtext{
    padding: $gap-1;
}
.p-dropdown-items{
    li{
        padding: $gap-1;
    }
}


.p-column-filter-operator, .p-column-filter-constraint{
    padding: $gap-1 $gap-1 0 $gap-1 ;
}
.p-column-filter{
    gap: $gap-1;
}

.p-column-filter-add-rule{
    margin: $gap-1;
    button{
        padding: $gap-1;
    }
    svg{
        width: 30px;
    }
}
.p-column-filter-buttonbar{
    margin: $gap-1;
    .p-button-label {
        padding: $gap-1 $gap-2;
    }
}
.p-paginator-bottom{
    border: none;
    display: flex;
    gap: $gap-1;
    .p-dropdown{
        margin-bottom: 0;
    }
}

.p-tag {
    padding: 4px $gap-1;
}
