@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.header{
    
    h4{
        margin-bottom: $gap-2;
    }
    h5{
        color: $primary-dark;
        margin-bottom: $gap-1;
    }
    .p3{
        color: $gray-500;
    }
}
.status{
    margin-bottom: $gap-1;
    display: inline-block;
    padding: 4px $gap-2;
    border-radius: 20px;
    p{
        font-size: 12px;
    }
}
.incompleto{
    background-color: $warning-light;
    p{color:red}
}
.ativo{
    background-color: $success-light;
}
.inativo{
    background-color: $white-light;
}