@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.menu{
    width: 100%;
    a:not(:last-child){
        display: block;
        margin-bottom: 4px;
    }
    li{
        padding: $gap-2 $gap-2;
        //border-top: 1px solid $white-darken;
        //border-bottom: 1px solid $white-darken;
        position: relative;
        display: flex;
        align-items: center;
        color: $primary-dark;
        transition: .3s ;
        cursor: pointer;
        p{
            margin-left: $gap-2;
        }
        &::before{
            content: '';
            transition: .3s ;
            position: absolute;
            top: -1px;
            left: 0;
            height: calc(100% + 2px);
            width: 4px;
            background-color: $white-light;
            border-top: 1px solid $white-darken;
            border-bottom: 1px solid $white-darken;
        }
    }
    li:hover, li.active{
        background-color: $white-darken;
    }
    .active,li:hover {
        &::before{
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            height: calc(100% + 2px);
            width: 4px;
            background-color: $primary-dark;
            border-top: 1px solid$primary-dark;
            border-bottom: 1px solid $primary-dark;
        }
    }
}