@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";
.icon{
    width: 24px;
    color: $primary-normal;
}
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1250;
    width: 100vw;
    height: 100vh;
    //background-color: red;
    background-color: rgba(#000, 0.2); 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease; /* Adicionando uma transição para a propriedade opacity */
    opacity: 0;
    .modalContent {
        max-height: 100vh;
        overflow: scroll;
        background-color: $white-light;
        position: relative;
        .content{
            
            padding: $gap-4;
            @include responsive(s){
                padding: $gap-3;
            }
            @include responsive(xs){
                padding: $gap-2;
            }
        }
        .content.padding{
            border: 2px solid red;
        }
        border-radius: 12px;
        box-shadow: 0px 6px 12px rgba(5, 17, 34, 0.1);
        width: 80%;
        max-width: 500px;
        
        @include responsive(xs){
            &{
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            
        }
    }
}
.closeIcon{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-bottom-left-radius: $gap-1;
    background-color: $white-darken;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-normal;
    transition: .3s ease;
    &:hover{
        color: $error-normal;
        background-color: $error-lighten;
    }
}
.modalBackdrop.unVisible{
    opacity: 1;
}
.modalBackdrop.visible{
    opacity: 1;
}

