@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.icon{
    width: 24px;
    color: $primary-normal;
}
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1250;
    width: 100vw;
    height: 100vh;
    //background-color: red;
    background-color: rgba(#000, 0.2); 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease; /* Adicionando uma transição para a propriedade opacity */
    opacity: 0;
    .modalContent {
        max-height: 100vh;
        overflow: scroll;
        background-color: $white-light;
        position: relative;
        .content{
            
            padding: $gap-4;
            @include responsive(s){
                padding: $gap-3;
            }
            @include responsive(xs){
                padding: $gap-2;
            }
        }
        .content.padding{
            border: 2px solid red;
        }
        border-radius: 12px;
        box-shadow: 0px 6px 12px rgba(5, 17, 34, 0.1);
        width: 80%;
        max-width: 500px;
        
        @include responsive(xs){
            &{
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            
        }
    }
}
.closeIcon{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-bottom-left-radius: $gap-1;
    background-color: $white-darken;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-normal;
    transition: .3s ease;
    &:hover{
        color: $error-normal;
        background-color: $error-lighten;
    }
}
.modalBackdrop.unVisible{
    opacity: 1;
}
.modalBackdrop.visible{
    opacity: 1;
}
.link{
    cursor: pointer;
    text-decoration: underline;
}
.subsessao{
    padding: $gap-2;
    border: 1px solid $gray-50;
    cursor: pointer;
    transition: ease .3s;
    &:hover{
        border: 1px solid $primary-light;
        box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
        transform: scaleX(1.01);
    }
    border-radius: $gap-1;
    &:not(:last-child){
        margin-bottom: $gap-1;
    }
    display: flex;
    
    align-items: center;
    justify-content:space-between ;
    @include responsive (xs){
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        
    }
    .description{
        &:not(:last-child){
            margin-right: $gap-2;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        @include responsive(xs){
            flex-direction:row;
            margin-bottom: $gap-1;
        }
        .infoBoxDescription{
            display: flex;
            flex-direction: column;
            align-items: center;
            @include responsive(xs){
                align-items: flex-start;
            }
            p{
                margin-bottom: 0;
            }
            h6{
                white-space: nowrap;
                @include responsive(xs){
                   font-size: 12px;
                }
            }
        }
        .icon{
            @include responsive(xs){
                margin-right: $gap-2;
                width: 18px;
            }
            
        }
        p{
            font-size: 12px;
        }
    }
}
.squares{
    .square{
        border: 1px solid $gray-50;
        border-radius: $gap-1;
        padding: 3px;
        @include responsive (s){
            flex-direction: column;
        }
        margin-bottom: $gap-1;
        .squareHeaderNumero, .squareContent, .squareContentEmpty{
            background-color: $white-darken;
            padding: $gap-1;
            border-radius: 6px;
        }
        .squareHeader{
            margin-right: 3px;
            @include responsive (s){
                margin-right: 0px;
                &:not(:first-child){
                    margin-top: 3px;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            text-align: center;
            border: 1px solid $white-darken;
            border-radius: 6px;
            h6{
                font-size: 22px;
            }
            .squareHeaderNumero{
                border: 1px solid $white-darken;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                .deleteSquare{
                    border: 1px solid $error-lighten;
                    padding: $gap-1;
                    border-radius: 4px;
                    color: $error-normal;
                    cursor: pointer;
                    transition: ease .3s;
                    margin:0;
                    svg{
                        height: 18px;
                    }
                    &:hover{
                        background-color: $error-lighten;
                    }
                }
            }
            .squareHeaderInfo{
                width: 100%;
                padding: $gap-1;
                .description{
                    display: flex;
                    &:not(:last-child){
                        margin-bottom: $gap-1;
                    }
                    p{
                        margin-left: 4px;
                    }
                }
                ul{
                    li{
                        border: 1px solid $white-darken;
                        padding: $gap-1;
                        border-radius: 6px;
                        cursor: pointer;
                        transition: ease .3s;
                        &:hover{
                            border: 1px solid $primary-light;
                            transform: scale(1.03);
                        }
                        &:not(:last-child){
                            margin-bottom: $gap-1;
                        }
                        &.selected{
                            background-color: $primary-light;
                            p{
                                color: $white-darken;
                            }
                        }
                    }
                }
                
            }
            .squareHeaderDeleteSquare{
                border: 1px solid $error-normal;
                
            }
            

        }
        .squareContentEmpty{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid $white-darken;
            transition: ease .3s;
            cursor: pointer;
            p{
                text-align: center;
                transition: ease .3s;
                cursor: pointer;
            }

            &:hover{
                background-color: $white-darken;
                p{
                    text-decoration: underline;
                }
            }
        }
        .squareContent{
            flex: 1;
            cursor: pointer;
            transition: ease .3s;
            border: 1px solid transparent;
            &:hover{
                border: 1px solid $primary-light;
            }
            margin-bottom: 4px;
            .info{
                display: flex;
                margin-bottom: 6px;
                flex-wrap: wrap;
                
                .status{
                    background-color: $primary-light;
                    padding: 2px 8px;
                    border-radius: 4px;
                    color: $white-normal;
                    font-size: 10px;
                    margin-right: 6px;
                    margin-top: 6px;
                    &.error{
                        background-color: $error-lighten;
                        color: $error-dark;
                    }
                    &.warning{
                        background-color: $warning-light;
                        color: $error-dark;
                    }
                    &.success{
                        background-color: $success-light;
                        color: $primary-darken;
                    }
                }
                .area{
                    border: 1px solid $primary-light;
                    padding: 2px 8px;
                    border-radius: 4px;
                    color: $primary-light;
                    font-size: 10px;
                    margin-top: 6px;
                }
            }
            .submissaoData{
                .participacoes{
                    font-size: 12px;
                }
            }
        }
    }
}

