@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1250;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $primary-darken, $alpha: 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease; /* Adicionando uma transição para a propriedade opacity */
    opacity: 0;
    .modalContent {
        background-color: $white-light;
        padding: $gap-4;
        border-radius: 12px;
        box-shadow: 0px 6px 12px rgba(5, 17, 34, 0.1);
        width: 80%;
        max-width: 500px;
        position: relative;
        @include responsive(xs){
            &{
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            
        }
    }
}

.closeIcon{
    position: absolute;
    top: $gap-4;
    right: $gap-4;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $white-darken;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-normal;
    transition: .3s ease;
    &:hover{
        color: $error-normal;
        background-color: $error-lighten;
    }
}
.modalBackdrop.unVisible{
    opacity: 1;
}
.modalBackdrop.visible{
    opacity: 1;
}

