@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.navBar{
    height: 70px;
    display: flex;
    //background-color: $primary-darken;//#fff;//$white-light;
    border-bottom: 1px solid $white-darken;
    width: 100vw;
    position: fixed;
    color: $primary-darken;
    padding-left: 218px;
    //box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    .navBarItem1{
        width: 100px;
        flex: 1;
    }
    .navBarItem2{
        display: flex;
        width: 300px;
        flex: 1;
    }
}

@include responsive(s){
    .navBar{
        padding-left: 66px;
    }
}