@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.navBar{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: $white-light;//#fff;//$white-light;
    border-bottom: 1px solid $white-darken;
    width: 100vw;
    position: fixed;
    color: $primary-darken;
    padding-left: 236px;
    z-index: 998;
    //box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    .anoSelecionado{
        margin-bottom: 4px;

        @include responsive (xs){
            display: none;
        }
    }
    button{
        background-color: $primary-dark;
        border: $primary-dark;
        padding: 4px $gap-1;
        transition: ease .3s;
        &:hover{
            transform: scale(1.03);
        }
    }
    
    .navBarItem1{
        flex: 1;
        .logoImg{
            width: auto;
            flex: 1;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $gap-1;
            position: relative;
            img{
                object-fit: contain;
                //object-position: left bottom;
            }
        }
    }
    .navBarItem2{
        align-items: center;
    }
    .navBarItem3{
        display: flex;
        justify-content: right;
        padding-right: $gap-2;
        width: 300px;
        flex: 1;
    }
}
.navBarGestor{
    display: flex;
    justify-content: space-between;
    

    .btnEdital{
        &:hover{
            background-color:  $white-darken;
            border: 1px solid $primary-light;
        }
        cursor: pointer;
        border: 1px solid transparent;
        transition: ease .3s;
        padding: $gap-1;
        border-radius: $gap-1;
    }
}
.logout{
    padding: $gap-1;
    border-radius: 4px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $error-normal;
    transition: .3s ease;
    cursor: pointer;
    &:hover{
        border: 1px solid $error-normal;
        background-color: $error-lighten;
        p{
            color: $error-normal;
        }
    }
    svg{
        height: 22px;
        margin-left: $gap-1;
    }
}
@include responsive(s){
    .navBar{
        padding-left: 66px;
    }
}