@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.sideNav{
    width: 210px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1200;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    .logoMenu{
        height: 100%;
        display: flex;
        align-items: center;
        padding: $gap-1;
        //border-bottom: 1px solid $white-darken;
        .logoImg{
            width: auto;
            flex: 1;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $gap-1;
            position: relative;
            img{
                object-fit: contain;
                object-position: left center;
            }
        }
        p, strong{
            font-family: var(--font-kanit);
            
            font-weight: 400;
            letter-spacing: 3px;
            color: $primary-darken;
            text-transform: uppercase;
        }
        strong{
            font-weight: 200;
        }
    }
    .sideNavItem1{
        height: 70px;
        width: 100%;
        //background: linear-gradient(to right, $primary-dark, $primary-darken) ;
    }
    .sideNavItem2{
        flex: 1;
        display: flex;
        //align-items: center;
        padding-top: 4px;
        overflow-y: scroll;

    }  
    .sideNavItem3{
        border-top: 1px solid $white-darken;
        display: flex;
        padding: $gap-2;
        cursor: pointer;
            
        .item1{
            width: 50px;
            display: flex;
            align-items: center;
            margin-right: $gap-2;
            color: $primary-dark;
            svg{
                width: 24px;
            }
        }
        
        .item2{
            h6{
                color: $black-light;
            }
            p{
                color: $gray-500;
            }
        }
        &:hover{
            background-color: $white-darken;
            
        }
    }
}
//Responsividade (s)
@include responsive(s){
    .sideNav{
        top: 0;
        left: -250px; // Sidebar desliza para fora da tela
        width: 250px;
        transition: left 0.3s ease-in-out; // Animação suave
        z-index: 1200;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 6px 12px rgba(5, 17, 34, 0.1);
        
        .hamburguerIcon{
            position: fixed;
            top: 17px;
            left: 17px;//230px;
            padding: 8px;
            width: 35px;
            height: 35px;
            z-index: 1100;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            background-color: $white-dark;
            transition: .3s ease;
            &:hover{
                opacity: 0.7; 
            }
            border-radius: 4px;
            .line{
                width: 20px;
                height: 2px;
                background-color: $primary-dark;
                border-radius: 1.5px;
            } 
        }
        
        width: 210px;
        .logoMenu p{
            display: block;
        }
        .sideNavItem3{
            .item2{
                display: block;
            }
        }
    }
    .open{
        left: 0;
        .hamburguerIcon{
            left: 230px;
        }
        .line1 {
            transform: rotate(45deg) translate(4px, 4px);
        }
        .line2{
            opacity: 0;
        }
        .line3 {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}
