@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";

.auth{
    width: 416px;
   @include responsive (xs){
    //border: 1px solid red;
    width: calc(100vw - 32px);
    //padding: $gap-2;
    
   }
    margin: $gap-2;
    .btnBack{
        margin-top: $gap-1;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover{
            svg{color:$primary-normal}
            
        }
        svg{
            margin-right: $gap-1;
            color: $primary-dark;
            height: 30px;
            width: 30px;
        }
    }
    .logo{
        width: auto;
        height: 142px;
        margin-bottom: $gap-3;
        position: relative;
        img{
            object-fit: contain;
            object-position: left center;
        }
        @include responsive(s){
            margin-bottom: $gap-2;
        }
    }
    .header{
        margin-bottom: $gap-3;
    }
    .form{
        margin-bottom: $gap-3;
    }
    .form .formInput:not(:last-child){
        margin-bottom: $gap-2;
    }
    @include responsive(s){
        .header, .form .formInput:not(:last-child){
            margin-bottom: $gap-1;
        }
        
    }
}
.logoPlic{
    width: auto;
    height: 60px;
    margin-top: $gap-3;
    position: relative;
    img{
        padding-bottom: 20px;
        object-fit: contain;
        object-position: left center;
    }
    
}
