@import "./../styles/partials/colors";
@import "./../styles/partials/layout";
@import "./../styles/partials/spacing";
.perfis{
    display: flex;
    flex-direction: column;
    gap: $gap-1;
    margin-top: $gap-1;
    .perfil{
        border: 1px solid $gray-50;
        padding: $gap-2 $gap-3;
        border-radius: $gap-1;
        cursor: pointer;
        transition: ease .3s;
        &:hover{
            box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
            transform: scale(1.03);
            background-color: $white-darken;
        }
        
    }
}
.auth{
    width: 416px;
   @include responsive (xs){
    //border: 1px solid red;
    width: calc(100vw - 32px);
    //padding: $gap-2;
    
   }
   .menu{
    margin-bottom: $gap-2;
    display: flex;
    
    .menuItem{
        background-color: $white-darken;
        cursor: pointer;
        transition: ease .3s;
        border: 1px solid $white-darken;

        &:hover{
            border: 1px solid $primary-normal;
        }
        &:first-child{
            border-radius: $gap-1 0 0 $gap-1;
            border: 1px solid $white-light;
            margin-left: 2px;
            &:hover{
                border: 1px solid $primary-normal;
            }
        }
        &:last-child{
            border-radius: 0 $gap-1 $gap-1 0;
            border: 1px solid $white-light;
            &:hover{
                border: 1px solid $primary-normal;
            }
        }
        
        
        padding: $gap-2 $gap-3;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p{
            text-align: center;
            color: $primary-dark;
        }
    }
    .selected{
        background-color: $primary-normal;
        border: 1px solid $primary-normal;
        p{
            color: $white-light;
        }
    }
   }
    margin: $gap-2;
    .btnBack{
        margin-top: $gap-1;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover{
            svg{color:$primary-normal}
            
        }
        svg{
            margin-right: $gap-1;
            color: $primary-dark;
            height: 30px;
            width: 30px;
        }
    }
    .logo{
        width: auto;
        height: 142px;
        margin-bottom: $gap-3;
        position: relative;
        img{
            object-fit: contain;
            object-position: left center;
        }
        @include responsive(s){
            margin-bottom: $gap-2;
        }
    }
    .header{
        margin-bottom: $gap-3;
    }
    .form{
        margin-bottom: $gap-3;
    }
    .form .formInput:not(:last-child){
        margin-bottom: $gap-2;
    }
    @include responsive(s){
        .header, .form .formInput:not(:last-child){
            margin-bottom: $gap-1;
        }
        
    }
}
.logoPlic{
    width: auto;
    height: 60px;
    margin-top: $gap-3;
    position: relative;
    img{
        padding-bottom: 20px;
        object-fit: contain;
        object-position: left center;
    }
    
}
