@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/layout";
@import "../../../../styles/partials/spacing";

.submissao{
    margin-bottom: $gap-3;
}
.successMsg{
    width: 100%;
    
   h3{
    background-color: $success-normal;
    padding: $gap-4 ;
    
    padding-top: $gap-7;
    padding-bottom: $gap-8;
    color: $white-light;
    line-height: 100%;
   }
   .successMsgContent{
    margin-top: -30px;
    padding: $gap-4 ;
    border-radius: $gap-1;
    border-top-right-radius: $gap-3;
    border-top-left-radius: $gap-3;
    @include responsive(xs){
        border-top-right-radius: $gap-2;
        border-top-left-radius: $gap-2;
        padding: $gap-2 ;
    };
    background-color:$white-light;
    .boxButton{
        margin-top: -80px;
        @include responsive(xs){
            margin-top: -60px;
            border-radius: $gap-2;
        }
        border-radius: $gap-2;
        background-color: $white-light;
        border: none;
        box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.15);
        .description{
            &:not(:last-child){
                margin-bottom: $gap-2;
            }
            display: flex;
            align-items: center;
            .icon{
                margin-right: $gap-1;
                
                svg{
                    color: $success-normal;
                }
            }
            .infoBoxDescription{
                flex: 1;
            }
        }
    }
   }
}

.successMsg.modalError{
    h3{
        background-color: $error-normal;
    }
}
.mainContent{
    margin-top: $gap-2;
    h6{
        margin-bottom: $gap-1;
    }

}
.icon{
    width: 24px;
    color: $primary-normal;
}
.submissaoInfo{
    box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    padding: $gap-3;
    border-radius: $gap-2;
    border-top: 1px solid $gray-50;
    border-bottom: 2px dashed   $gray-50;
    border-right: 1px solid $gray-50;
    border-left: 1px solid $gray-50;
    .icon{
        margin-bottom: $gap-2;
    }
}
.submissaoActions{
    //box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    padding: $gap-2;
    border-radius: $gap-2;
    border-bottom: 1px solid $gray-50;
    border-right: 1px solid $gray-50;
    border-left: 1px solid $gray-50;
    display: flex;
    flex-direction: column;
    align-items: center;
    .status{
        margin-top: $gap-2;
        margin-bottom: $gap-1;
        p{
            font-size: 12px;
            background-color: $success-light;
            display: inline;
            padding: 4px $gap-2;
            border-radius: 4px;
            color: $gray-600;
        }
        
    }
}
.menu{
    h5{
        margin-bottom: $gap-3;
    }
    button:not(:last-child){
        margin-bottom: $gap-2;
    }
}
.actionsTable{
    display: flex;
    margin-top: $gap-2;
    margin-bottom: $gap-3;
    
    button{
        flex: 1;
        border-radius: $gap-1;
        &:not(:last-child) {
           margin-right: $gap-2;
        }
        
        
    
    }
}
.navContent{
    
    width: 500px;
    @include responsive(s){
        width: 100%;
    }

    .content{
        max-width: 990px;
        @include responsive(s){
            flex-direction: column;
            padding: $gap-1;
        }
        
        padding: $gap-2;
        .header{
            h5{
                font-weight: 300;

                span{
                    padding: 4px $gap-2;
                    border-radius: $gap-1;
                    background-color: $primary-darken;
                    color: $white-light
                    
                }
                
            };
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        
        
    }
    

}
.modalHeader{
    padding: $gap-4 $gap-4 0 $gap-4;
}
.modal{
    .margin{
        margin: $gap-4;
    }
}
.boxButton{
   
    &:not(:last-child){
        margin-bottom: $gap-2;
    }
    border-radius: $gap-1;
    
    border: 1px solid $gray-50;
    padding: $gap-3;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 10px rgba(5, 17, 34, 0.06);
    }
    .labelWithIcon{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: $gap-2;
        }
        .label,.description{
            display: flex;
            flex-direction: column;
        }
        .label{
            flex: 1;
            
            .status{
                
                p{
                    font-size: 12px;
                    display: inline;
                    white-space: nowrap;
                    text-align: center;
                    padding: 4px $gap-2;
                    border-radius: 20px;
                    margin-right: $gap-2;
                    text-transform: lowercase;
                    @include responsive(xs){
                        margin-bottom: $gap-1;
                    }
                }
                @include responsive(xs){
                    margin-left: 0;
                }
            }
            .warning{
                
                p{
                    background-color: $warning-light;
                    color:red
                }
            }
            .success{
                p{
                    background-color: $success-light;
                }
                
            }
            .error{
                p{
                    color: $white-light;
                    background-color: $error-light;
                }
            }
            p{
                display: flex;
                align-items: center;
                
                svg{
                    display: none;
                    @include responsive (xs){
                        display: block;
                        margin-right: $gap-1;
                    }
                }
            }
            @include responsive (xs){
                margin-left: 0;
            }
            .description{
                margin-top: $gap-1;
                p{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                p.destaque{
                        color: $primary-darken;
                    }
                
            }
        }
        
        
        svg{
            color: $primary-darken;
            width: 20px;
            height: 20px;
            margin-right: $gap-2;
            @include responsive (xs){
                display: none;
            }
        }
    }
}






