@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";

.icon{
    width: 24px;
    color: $primary-normal;
}
.navContent{
    display: flex;
    gap: $gap-2;
    @include responsive(xs){
        flex-direction: column;
    }
}
.navigationButtons{
    margin-top: $gap-1;
    display: flex;
    gap: $gap-2;
    button{
        flex: 1;
    }
}
.projeto, .fichaDeAvaliacao{
    width: 50%;
    @include responsive(xs){
        width: 100%;
    }
    border: 1px dashed $warning-dark;
    border-radius: 6px;
    padding: $gap-1;
}
.error{
    margin-top: $gap-1;
    p{
        color: $white-light;
        background-color: $error-light;
        padding: $gap-1;
        border-radius: $gap-1;
    }
}


.fichaDeAvaliacao{
    h5{
        color: $warning-darken;
    }
    .quesitos{
        margin-top: $gap-2; 
    }
    .item{
        margin-top: $gap-1;
    }
    .label{
        h6{
            line-height: 100%;
        }
        margin-bottom: $gap-1;
    }
    textarea{
        resize: none;
        width: 100%;
        height: 300px;
        border: 1px solid $gray-50;
        border-radius: $gap-1;
        padding: $gap-2;
        &:focus {
            border-color: $warning-dark; /* Cor da borda ao selecionar */
            outline: 1px solid $warning-dark; /* Remove a borda de destaque padrão do navegador */
        }
    }
    .premio{
        .value{
            border: 1px solid $gray-50;
            border-radius: $gap-1;

            display: flex;
            align-items: center;
            margin-bottom: $gap-1;
            margin-top: $gap-1;
            cursor: pointer;
            &.selectedPremio{
                border: 1px solid $warning-dark;
                
                svg{
                    color: $warning-lighten;
                    border-right: 1px solid $warning-dark;
                    background-color: $warning-dark;
                }
            }
            p{
                margin-left: $gap-1;
            }
            svg{
                width: 40px;
                height: 100%;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
                padding: 6px;
                color: $warning-dark;
                transition: ease .3s;
                border-right: 1px solid $gray-50;
                
            }
            transition: ease .3s;
            &:hover{
                transform: scale(1.02);
                border: 1px solid $warning-dark;
                svg{
                    border-right: 1px solid $warning-dark;
                }
            }
        }
    }
    .values{
        
        display: inline-flex;
        flex-wrap: wrap;
        margin: $gap-1 0 $gap-2 0;
        @include responsive(xs){
            margin: $gap-1 0;
        }
        .value{
            border: 1px solid $warning-dark;
            width: 50px;
            height: 50px;
            margin-left: 4px;
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $gap-1;
            @include responsive(xs){
                width: 40px;
                height: 40px;
                
            }
            transition: ease .3s;
            cursor: pointer;
            &:hover{
                background-color: $warning-lighten;
                transform: scale(1.05);
            }
            &.selected{
                background-color: $warning-dark;
                p{
                    color: $warning-lighten;
                }
            }
        }
    }
}

.card {
    margin-top: $gap-3;
    border: 1px solid $warning-dark;
    border-top-left-radius: $gap-1;
      border-top-right-radius:$gap-1;
    .label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $gap-2 $gap-2;
      background-color: $warning-dark;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      color: $warning-lighten;
      cursor: pointer; // já garantimos pointer no React, mas reforçamos aqui
    }
    .value {
      padding: $gap-2;
      // opcional: adicione uma transição suave
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      overflow: hidden;
    }
  }
  

  


