@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";

/* Fundo */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to right, #03366F, #0158A7);

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

/* Centralização */
.center {
  max-width: 990px;
  margin: 0 auto;
}

/* Conteúdo principal */
.content {
  .title {
    padding: 0 $gap-2;
    //margin: $gap-2 0 $gap-4;

    h1 {
      color: #F5C300;
    }

    h2 {
      color: #fff;
      font-size: $gap-4;
    }

    p {
      margin-top: $gap-1;
      color: #fff;
      font-weight: 200;
    }
  }

  .img {
    height: 274.38px;
    position: relative;
    margin: 0 auto;

    img {
      object-fit: contain;
      object-position: left center;
      border-radius: $gap-1;
      height: auto;
      padding: $gap-2;
    }
  }

  .label {
    color: #fff;
    margin-top: $gap-3;
    padding-left: $gap-2;
  }

  /* Listagem */
  .list {
    margin-top: $gap-2;
    position: relative;
    overflow: hidden;
    background: rgba(#fff, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: $gap-1;

    @include responsive(s) {
      border-radius: 0;
      max-width: 100%;
    }

    ul {
      height: 100%;
      overflow-y: auto;
      list-style: none;
      scroll-snap-type: y mandatory;

      &::-webkit-scrollbar {
        width: 0;
      }

      scrollbar-width: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $gap-1 $gap-2;
      border-bottom: 1px solid rgba(#fff, 0.2);
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);

        p,
        h1,
        h2,
        svg {
          color: #F5C300;
        }
      }

      .text {
        display: flex;
        
        
        .itemListSmall {
          margin-bottom: 4px;
          margin-right: $gap-2;
          p{
            font-size: 12px;
          }
        }
      }
       

      p,
      h1,
      h2,
      svg {
        color: #fff;
        transition: color 0.3s ease;
      }

      .itemListSmall p {
        font-weight: 300;
        white-space: nowrap;
      }

      .itemListContent {
        
        h1 {
            font-size: 16px;
            font-weight: 300;
          }
        h2 {
          font-size: 12px;
          font-weight: 300;
        }
      }

      .icon {
        width: 40px;
      }
    }
  }

  /* Artigos */
  .articles {
    overflow: hidden;
    width: 100%;
    margin-bottom: $gap-2;
    .slider {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    
    .article {
      padding: $gap-1;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;
      width: 30vw;
      scroll-snap-align: start;
      cursor: pointer;
      transition: transform 0.3s ease;

      @include responsive(xs) {
        width: 90vw;
      }

      &:first-child {
        padding-left: $gap-2;
      }

      &:hover {
        transform: scale(1.03);

        p,
        h1,
        h2,
        h6,
        svg {
          color: #F5C300;
        }
      }

      p,
      h1,
      h2,
      h6,
      svg {
        color: #fff;
        transition: color 0.3s ease;
      }

      .imgArticle {
        width: 100%;
        height: 190px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          object-fit: cover;
          object-position: center;
          border-top-left-radius: $gap-1;
          border-top-right-radius: $gap-1;
          border: 1px solid rgba(#fff, 0.2);
        }

        @include responsive(xs) {
          height: 150px;
        }
      }

      .title {
        width: 100%;
        padding: $gap-2;
        margin-top: 0;
        background: rgba(#fff, 0.05);
        border-bottom: 1px solid rgba(#fff, 0.2);
        border-radius: 0 0 $gap-1 $gap-1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        h6 {
          font-weight: 300;
        }
      }

      .articleFooter {
        margin-top: $gap-2;
        display: flex;
        align-items: center;

        p {
          margin: 0;
          font-size: 12px;
        }

        .journalLogo .img {
          width: 30px;
          height: 30px;
          margin-right: $gap-1;

          img {
            padding: 0;
          }
        }
      }
    }
  }
}
