@import "./styles/partials/colors";
@import "./styles/partials/layout";
@import "./styles/partials/spacing";


.configuracoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
        color: $primary-dark;
    }
    ul{
        display: flex;
        gap: $gap-2;
        li{
            cursor: pointer;
            transition: ease .3s;
            
            &:hover{
                p{
                    text-decoration: underline;
                    
                }
            }
        }
    }
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap-2;
    @include responsive(s){
        flex-direction: column;
    }
    .cursor-pointer {
        cursor: pointer;
        transition: background-color 0.2s ease;
      
        &:hover {
          opacity: 0.8;
        }
      }
    button{
        .btn-primary{
            p{
                color:$white-light
            }
        }
        
    }
}




.icon{
    width: 24px;
    color: $primary-normal;
}
