@import "./styles/partials/colors";
@import "./styles/partials/layout";
@import "./styles/partials/spacing";

.clickableStatus{
    cursor: pointer;
}
.notaCorte{
    margin-left: $gap-2;
    
    div{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
    }
}
.actions{
    padding: $gap-2;
    display: flex;
    gap: $gap-1;
    .action{
        //flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-100;
        border-radius: $gap-1;
        padding: $gap-1;
        color: $gray-300;
        cursor: pointer;
        p{
            font-size: 10px;
            color: $gray-300;
        }
    }
    .pendente{
        &:hover{
            background-color: $error-lighten;
            color: $error-dark;
            p{
                color: $error-dark;
            }
        }
    }
    .pendenteSelected{
        background-color: $error-lighten;
            color: $error-dark;
            p{
                color: $error-dark;
            }
    }
    .aguardandoAprovacaoOrientador{
        &:hover{
            background-color: $warning-lighten;
            color: $warning-darken;
            p{
                color: $warning-darken;
            }
        }
    }
    .aguardandoAprovacaoOrientadorSelected{
        background-color: $warning-lighten;
            color: $warning-darken;
            p{
                color: $warning-darken;
            }
    }

    .concluida{
        &:hover{
            background-color: $success-lighten;
            color: $success-dark;
            p{
                color: $success-dark;
            }
        }
    }
    .concluidaSelected{
        background-color: $success-lighten;
            color: $success-dark;
            p{
                color: $success-dark;
            }
    }
    .dispensada{
        &:hover{
            background-color: $gray-100;
            color: $gray-500;
            p{
                color: $gray-500;
            }
        }
    }
    .dispensadaSelected{
        background-color: $gray-100;
            color: $gray-500;
            p{
                color: $gray-500;
            }
    }
}
.tableHeader {
    display: flex;
    padding: $gap-2;
    
    
  }
  
  .searchContainer {
    width: 100%;
    
  }
  
  .searchInput {
    display: block;
    width: 100%;
  }
  
  .columnHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  .statusFilter {
    width: 100%;
    font-size: 0.8rem;
    
    .p-multiselect-label {
      padding: 0.25rem 0.5rem;
    }
  }
.table{
    
    td{
        border: none;
        padding: 0;
        background-color: #fff;
        border-bottom: 1px solid $gray-50;
    }
    .checkBoxColumn{
        padding-left: 10px;
        
    }
}
.progressText {
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.25rem;
  }
.rowCel{
    padding:$gap-1 $gap-2;
    border-radius: $gap-1;
    
    min-width: 300px;
    h6 {
        display: -webkit-box;
        -webkit-line-clamp: 2;        /* número de linhas desejadas */
        -webkit-box-orient: vertical;  /* orienta o box para “empilhar” linhas */
        overflow: hidden;              /* esconde o excesso de texto */
        text-overflow: ellipsis;       /* aplica reticências no fim */
        white-space: normal;           /* permite quebra de linha */
      }
    .participacoes{
        margin-top: $gap-1;
        border-radius: 4px;
        display: flex;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $gap-1;
            svg{
                height: 20px;
                width: 20px;
                color: $primary-darken;
            }
        }
        .contentParticipacoes{
            flex:1;
            margin-bottom: 0;
        }
        p{
            text-wrap: nowrap;
        }
    }
}





.icon{
    width: 24px;
    color: $primary-normal;
}
