@import "/styles/partials/colors";
@import "/styles/partials/layout";
@import "/styles/partials/spacing";
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $white-dark;
    padding-top: 650px; // Altura do banner para evitar que o conteúdo fique escondido
    position: relative;
    
    @include responsive(xs) {
      padding-top: 200px;
    }
  }
  
  .banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    
    
    
    .bgImage {
      object-fit: cover;
    }
    
    .bannerOverlay {
      position: absolute;
      top: $gap-2;
      left: 0;
      width: 100%;
      height: 650px;
      @include responsive(xs) {
        height: 200px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $gap-2;
      .overlayImage {
        max-width: 900px;
        object-fit: contain;
        margin-bottom: $gap-2;
      }
    }
    
    .login {
      position: absolute;
      top: $gap-2;
      right: $gap-2;
      
      p {
        background-color: rgba(255,255,255, 0.00001);
        border: 1px solid $white-darken;
        color: $white-darken;
        padding: $gap-1 $gap-2;
        box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.08);
        border-radius: $gap-1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    }
  }
  
  .content {
    padding: 40px 0;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    background-color: rgba(255,255,255,0.23);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
  }
  
  .card{
   // background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.03);
    border-radius: $gap-1;
    margin: 0 $gap-2;
    
    .cardContent{
        max-width: 900px;
        padding: $gap-3 $gap-2;
        margin: 0 0;
       
    }
    .cardActions{
        display: flex;
        gap: $gap-2;
        margin-bottom: $gap-2;
        p{
            font-size: 14px;
            //background-color: $warning-light;
            //color: $warning-darken;
            background-color: $primary-dark;
            color: $white-light;
            padding: $gap-2 $gap-4;
            border-radius: $gap-1;
            text-align: center;
        }
        .secondary{
            p{
                color: $primary-darken;
                border: 1px solid $white-light;
                background-color: rgba(255,255,255,0.3);
                box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.03);
            }
        }
        .cta p{
            background-color: $warning-light;
            color: $primary-darken;
        }
    }
    .cardItem{
        
        display: flex;
        align-items: center;
        gap: $gap-1;
        svg{
            color: $primary-dark;
            width: 30px;
            height: 30px;
        }
    }
  }
  .nav {
    margin: 0 $gap-2 -24px $gap-2;
    background-color: $white-dark;
    box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.08);
    border-radius: $gap-1;
    display: flex;
    align-items: center;
    position: sticky;
    top: $gap-2;
    z-index: 2;
    
    .home {
      background-color: $primary-lighten;
      color: $white-light;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin: 4px;
      transition: ease .3s;
      cursor: pointer;
      
      &:hover {
        background-color: $primary-dark;
      }
    }
    p{
        color: $primary-dark;
    }
    ul {
      display: flex;
      width: 100%;
      gap: $gap-2;
      justify-content: space-around;
      align-items: center;
    }
  }
  .sectionTitle{
    color: $primary-darken;
    margin: 0 $gap-2 $gap-1 $gap-2;
  }
  .edicoes{
    display: flex;
    gap: $gap-1;
    
    .edicao{
        &:first-child{
            margin-left: $gap-2;
        }
        h6{
            color: $primary-dark;
            margin-bottom: $gap-2;
        }
        
        padding: $gap-3;
        max-width: 300px;
        border-radius: $gap-1;
        background-color: rgba(255,255,255,0.3);
        box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.03);
    }
  }
  .premiados{
    display: flex;
    flex-direction: column;
    gap:$gap-2;
    margin: 0 $gap-2;
    max-width: 900px;
    .premiado{
        display: flex;
        flex-direction: column;
        gap: $gap-1;
       // background-color: rgba(255,255,255,0.3);
       // border-radius: $gap-1;
        //box-shadow: 0px 0px 5px rgba(5, 17, 34, 0.03);
        padding: $gap-3;
       .tags{
        display: flex;
        gap: $gap-1;
        .tag{
            padding: 4px $gap-2;
            border-radius: 6px;
            border: 1px solid $white-light;
        }
        
        p{
            font-size: 12px;
            color:$primary-darken;
        }
       } 
       p{
        color:$primary-darken;
    }
    h5{
        color:$primary-darken;
    }
    border-bottom: 1px solid $white-darken;
    }
  }
  .contentMain{
    background-color: rgba(255,255,255,0.0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    svg{
        color:$white-light;
    }
    p, strong, h5{
        color: $white-light;
    }
   
  }