:root {
  --primary-darken: #083B7F; 
  --primary-dark: #0F4EA2; 
  --primary-normal: #1b69d2; 
  --primary-light: #4587DF; 
  --primary-lighten: #1b69d266; 

  --white-darken:#DAF0FF;
  --white-dark:#E8F6FF;
  --white-normal:#F4FBFF;
  --white-light:#FFFFFF;
}


*,*::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
text-decoration: none;
}

img {
max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
height: auto; /* Mantém a proporção original da imagem */
}
ul, ol {
list-style-type: none; /* Remove os marcadores (pontos) da lista */
padding: 0; /* Remove o preenchimento padrão da lista */
margin: 0; /* Remove as margens padrão da lista */
}

@import "partials/colors";
@import "partials/layout";
@import "partials/spacing";
@import "partials/typography";
@import "partials/buttons";
@import "partials/table";



html{
  scroll-behavior: smooth;
}


body{
width: 100%;
height: 100vh;
position: relative;
scroll-behavior: smooth;
background-color: $white-dark;
}
.border{
border: 1px solid red;
}

.border-radius{
border-radius: 8px;
}

.block{
display: block;
}

.hidden{
overflow: hidden;
}

.relative{
position: relative;
}

svg,img{
width: 100%;
//height: auto;
}

svg, img{
  display: block;
  width: 100%;
}


@import "partials/icons";
@import "partials/input";
@import "partials/auth";
@import "partials/notifications";

$topLarge:88px;
$topSmall:60px;
$leftLarge:210px;
$leftSmall:88px;

// COMPONENTES
